body {
    overflow: auto;
    font-family: 'Proxima Nova Semibold',sans-serif;
    font-size :20px;
    color: white;
    background: #fbfbfb;
    webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color:inherit;
}

.larger-container{
    width: 100%;
    text-align: left;
    line-height: 2.5;
}
.khan-copy{
    padding-left: 5px;
    background: #4fbad4;
    color: white;
    width: 285px;
    height: 50px;
    float: left;
}
.my-projects {
    padding-left:5px;
    background: #a1dae8;
    width: 285px;
    height: 50px;
    float: left;
}

.instructions{
    font-size: 40px;
    padding-left: 25px;
    margin-top: 27.5px;
    text-align: left;
    background: #1c758a;
    height: 150px;
    line-height: 3.5;
    display: block;
}
.editor-container{
    width: 100%;
}
#editor {
    width: 100%;
    height: 350px;
}

.button-box{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

button {
    background: #1c758a;
    background-image: -webkit-linear-gradient(top, #1c758a, #0B6BA9);
    background-image: -moz-linear-gradient(top, #1c758a, #0B6BA9);
    background-image: -ms-linear-gradient(top, #1c758a, #0B6BA9);
    background-image: -o-linear-gradient(top, #1c758a, #0B6BA9);
    background-image: linear-gradient(to bottom, #1c758a, #0B6BA9);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

}

button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}

button:focus {
    outline: 0;
}

input{
    padding-right: 5px;
    padding-left: 5px;
}


.white-list{
    font-weight: bold;
    color:black;
    background: #f5f5dc;
    height: 50px;
    line-height: 2.5;
}
.black-list{
    font-weight: bold;
    color:white;
    background: black;
    height: 50px;
    line-height: 2.5;

}
.structure-list{
    color:white;
    background: #c0392b;
    height: 50px;
    line-height: 2.5;
    font-weight: bold;

}

.outputs{
    text-align: center;
    font-weight: bold;

}
.option{
    color: black;
}
#error{
    color:  #e74c3c;
}
#success{
    color:#3498db;
}
#structure{
    color:#2ecc71;
}
